<div class="content" id="url_listing">
  <%= render @urls %>
  <!-- <section class="searcheng wdth100">
    <a href="javscript:void(0);"><img alt="espnfc.us" class="pull-left thumb-sm m-r-sm img-circle" src="http://s2.googleusercontent.com/s2/favicons?domain_url=espnfc.us&amp;sz=32"></a>
    <div class="searcheng_row wdth100">
      <span class="arrow left"></span>
      <div class="searcheng_col panel-heading wdth100">
        <a href="javascript:void(0)">
          <span> @espnfc.us</span>
          <h5>Fortuna Düsseldorf News and Scores - ESPN FC</h5>
        </a>
      </div>
      <div class="searcheng_col2 wdth100">
        <span class="img_box"><img src="https://bootcamps-uploads.s3.amazonaws.com/store/6e1684d25edb98004390cf33e643bc84?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJF5QHW2P5ZLAGVDQ%2F20181204%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181204T104215Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=d1a3a233a6ef89cbe752a4fe3bce793c93e1f2b603d442d51cf6597602bd31a1"></span>
        <div class="searc_col_rt">
          <ul class="post_likes">
            <li><a href="javascript:void(0);"><i class="fas fa-code"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fas fa-thumbs-up"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fas fa-thumbs-down"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section> -->
  <div class="loader"></div>

</div>


<div class="post_modal modal fade" id="embed-modal" tabindex="-1" role="dialog" aria-labelledby="embed-modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Embed Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>To add this post on your site, just copy code below.</label>
        </div>
        <div class="form-group">
          <textarea class="form-control"><blockquote class='embedded-whoot'><link rel="stylesheet" type="text/css" href="http://my.searcheng.in/assets/application.css"><div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><div class='embedded-whoot'><section class="panel vbox" style="height: auto"><header class="panel-heading"><div class="clear"><a href="http://searcheng.in/e/@abbreviations.com"><img alt="abbreviations.com" class="pull-left thumb-sm m-r-sm img-circle" src="//icons.better-idea.org/icon?url=abbreviations.com&amp;size=80" /><span class="m-l-xs pull-left"></span><small class="text-muted pull-right m-t-sm">Friday January 04</small><strong>&nbsp@abbreviations.com</strong><br /><small>&nbsp</small></a></div></header><aside class="whoot-media"><section class="hbox"><aside style="width: 111px;"><img class="img-full" src="https://bootcamps-uploads.s3.amazonaws.com/store/d351ac373673f972db2b409c5e5ff083?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAJF5QHW2P5ZLAGVDQ%2F20190104%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20190104T053422Z&amp;X-Amz-Expires=900&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=2e767d33f482fd146180077234071a2d52182b616161a5f0b2b7448fe43721d1" /></aside><aside class="v-middle pos-rlt"><div class="wrapper"><p><a href="http://searcheng.in/e/ad1W1Q"><i class="icon-list-alt"></i></a> | TCCT - TCCTM - TCCU - TCCW - TCCX - TCDB - TCDC - TCDD - TCDE - TCDHC &quot;TCD.&quot; Abbreviations.com. STANDS4 LLC, 2018. Web. 3 Jan. 2019. &lt;htt...</p><a href="https://www.abbreviations.com/TCD" style="border-bottom: 1px dashed #575757; word-break: break-all;" target="_blank"><i class="icon-external-link"></i> https://www.abbreviations.com/TCD</a><br /><span class="text-muted m-l-sm pull-right"><strong class="likes-dislikes"><a class="url-like" data-url="1949867" href="#" title="Like"><i class="icon-thumbs-up"><small class="likes">0</small></i> /</a><a class="url-dislike" data-url="1949867" href="#" title="Dislike"><i class="icon-thumbs-down"><small class="dislikes">0</small></i></a></strong></span><br /><br /></div><span class="arrow left hidden-xs"></span></aside></section></aside><aside><section class="panel m-b-none"><footer class="panel-footer pos-rlt"><ul class="nav nav-pills"><li><a data-id="1949867" data-target="#who-modal" data-toggle="modal" href="#" title="Add Who Tag"><i class="icon-user text-info"></i><small>0</small></a></li><li><a data-id="1949867" data-target="#where-modal" data-toggle="modal" href="#" title="Add Where Tag"><i class="icon-map-marker text-info"></i><small>0</small></a></li><li><a data-id="1949867" data-target="#what-modal" data-toggle="modal" href="#" title="Add What Tag"><i class="icon-tags text-info"></i><small>0</small></a></li><li><a data-id="1949867" data-target="#when-modal" data-toggle="modal" href="#" title="Add When Tag"><i class="icon-calendar text-info"></i><small>0</small></a></li><li><a data-id="1949867" data-target="#why-modal" data-toggle="modal" href="#" title="Add Info Tag"><i class="icon-info-sign text-info"></i><small>0</small></a></li><li><a data-id="1949867" href="http://my.searcheng.in/?se=http://localhost:3003/" title="Add Photo"><i class="icon-camera text-info"></i><small>0</small></a></li><li><a data-id="1949867" data-target="#video-modal" data-toggle="modal" href="#" title="Embed Video, Tweets, HTML"><i class="fa fa-code text-info"></i><small>0</small></a></li></ul></footer></section></aside></section><div class="pull-right">powered by<a href="http://searcheng.in"> searcheng.in</a></div></div></div></blockquote></textarea>
        </div>
        <blockquote>
          <div class="panel_box wdth100">
            <ul id="select_id" class="nav nav-pills">
            </ul>
          </div>
        </blockquote>
      </div>
      <div class="modal-footer">
          <div class="pull-right footr_txt">powered by<a href="http://searcheng.in"> searcheng.in</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div id= "main-tag-modal">
</div>
<%= will_paginate @urls %>

<script>

  // $(document).on("click",".url_data", function(e){
  //   e.preventDefault();
  //   var _self = $(this);
  //   var urlId = $(this).data('id');
  //   console.log(_self )
  //    $(".modal-body #bookId").val( urlId );
  //    // As pointed out in comments,
  //    // it is superfluous to have to manually call the modal.
  //    // $('#addBookDialog').modal('show');

  // })
  // $(document).ready(function(){
  //   $('.pagination').remove();
  // })
    $(".user-like").click(function(){
      $(this).toggleClass("is-like");
    });

    $(".user-dislike").click(function(){
      $(this).toggleClass("is-dislike");
    });

</script>






