<div class="content">
  Submit a Webpage to SearchEng.in
  <%= simple_form_for @url do |f| %>
    <%= f.input :url %>
    <%= f.button :submit %>
  <% end %>
  Just copy URL from browser textbox and paste it here.
</div>

