<div class="content" id="verify_url_tags">
  <%= render @urls %>
  <div class="loader"></div>
</div>

<%= render "dashboard/embed_post_modal" %>

<div id="main-tag-modal"></div>
<%= will_paginate @urls %>



<script>
   $(".user-like").click(function() {
       $(this).toggleClass("is-like");
   });

   $(".user-dislike").click(function() {
       $(this).toggleClass("is-dislike");
   });

  $(".verified").click(function() {
    var id = $(this).attr("id");
    var verifiy = $(this).val()
    if( verifiy == 'true'){
      $(this).attr('title', 'text to show');
      console.log($(this).attr('title', 'text to show'))
    }
    $.ajax({
      url: "/tags/tag_verification/"+id,
      type: 'PATCH',
      data: {id: id }
    });
  });
</script>
