// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wdth100{
	width:100%;
	float: left;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 180px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #555;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 185px;
  padding: 25px 16px;
  /*height: 1000px;*/
}

.wdth100{
  width: 100%;
  float: left;
}

.cntnt_wrap{
  position: relative;
  padding-top: 55px;
}

.cstm_navbar{
  background-color: #ececec;
}

.mglft_25{
  margin-left: 25px;
}



.searcheng .arrow.left {
  top: 20px;
  left: -8px;
}

.arrow.left {
    top: 50%;
    left: -8px;
    margin-top: -8px;
    border-left-width: 0;
    border-right-color: #eee;
    border-right-color: rgba(0,0,0,0.1);
}

.arrow {
  border-width: 8px;
  z-index: 10;
}

.arrow.left:after {
  content: " ";
  left: 1px;
  border-left-width: 0;
  border-right-color: #ccc;
  bottom: -7px;
}

.arrow:after {
  border-width: 7px;
  content: "";
}

.arrow, .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.searcheng{
  position: relative;
  display: flex;
}

.searcheng_row{
  margin-left: 46px;
  position: relative;
}

.searcheng:before{
  position: absolute;
  top: 0;
  bottom: -40px;
  left: 18px;
  width: 1px;
  background: #e0e4e8;
  content: '';
}

.searcheng_col{
  border: 1px solid #ccc;
  background-color: #ececec;
  border-radius: 2px 2px 0 0;
  position: relative;
  font-size: 12px;
  padding: 12px;
}

.searcheng_col>a{
  color: #575757;
}

.searcheng_col2{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #ececec;
  align-items: center;
  height: 92px;
  position: relative;
}

.img_box{
  width: 111px;
  float: left;
  display: flex;
}

.img_box>img{
  max-width: 100%;
  max-height: 100%;
}

.searc_col_rt{
  width: auto;
  position: absolute;
  display: inline-block;
  bottom: 4px;
  right: 6px;
}

.post_likes{
  margin: 0;
  padding: 0px;
  width: auto;
  float: right;
}


.post_likes li{
  list-style: none;
  display: inline-block;
  padding: 0 5px;
  position: relative;
}

.post_likes li:nth-child(2):before{
    content: '/';
    position: absolute;
    right: 0;
    top: 2px;
}

.post_likes li:last-child{padding-left: 0px;}

.post_likes li a{
  color: #575757;
  font-size: 12px;
  letter-spacing: 3px;
}


.is-like {
  color: #92cf5c;
}

.is-dislike {
  color: #fb6b5b;
}

.favicon_img{
  height: 30px;
  width: 30px;
}

.text-successs {
  color: #92cf5c;
}

.text-danger {
  color: #fb6b5b;
}

.post_modal .modal-title{
    font-size: 18px;
    color: #979797;
}

.post_modal .modal-dialog{
  max-width: 600px;
}

.post_modal label{
  color: #979797;
  font-size: 13px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}

.post_modal .modal-content{
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
}

.post_modal label>span{margin-left: 5px;}

.post_modal .radio,.post_modal .checkbox {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

.post_modal .radio{
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.post_modal textarea{font-size: 14px;}

#select_id{
  justify-content: flex-start;
  width:100%;
  border: 3px solid #EBEFF6;
  padding: 10px 15px;
}

#select_id li{
  list-style: none;
  display: inline-block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  color: #575757;
  font-size: 11px;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.nav>li>a:hover>i, .nav>li>a:focus>i{color: #999999;}

.nav>li>a>i{margin-right: 5px;}

.nav>li>a>small{color: #999999;}

.text_info {color: #ececec;}

.wdth100{
  width:100%;
  float: left;
}

.panel_box{
  border-radius: 2px;
  border:1px solid #ebeff6;
  padding: 12px;
}

.panel_head{
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}

.panel_head>a{
  width: 48%;
  color: #575757;
  font-size: 12px;
}

.panel_head>a>span{
  font-weight: 700;
}

.panel_body{
  border: 3px solid #EBEFF6;
}

.panel_row{
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.panel_cntnt{padding: 15px;}

.panel_cntnt>p{
  position: relative;
  padding-left: 40px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.25;
  color: #979797;
}

.panel_cntnt>a{
  color: #979797;
  font-size: 13px;
}

.panel_icn{
  position: absolute;
  left: 0;
  top:0;
  color: #7d7d7d;
}

.footr_txt{
  color: #575757;
  font-size: 13px;
}

.default_btn{
  color: #fff !important;
  background-color: #aeb6cb;
  border-color: #aeb6cb;
}

#new_what_tag .row>div{
  /*padding: 0px;*/
}

.reslt_body{
  font-size: 12px;
  border-radius: 2px;
  border-color: #ebeff6;
  margin:20px 0 20px 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  border: 1px solid #ebeff6;
  position: relative;
}

.reslt_row{
  padding: 10px 15px;
  position: relative;
}

.reslt_row .arrow.left:after{
  border-right-color: #fff;
}

.reslt_col p{
  font-size: 13px;
  color: #979797;
  margin-bottom: 0px;
}


.search_desc{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.search_desc span>i{
  color: #575757;
  font-size: 13px;
  margin-right: 4px;
}

.search_desc>span,
.search_desc>span>a{
  font-size: 13px;
}
.dash_border{
  border-bottom: 1px dashed #000;font-size: 13px;
}
.search_desc>span>a{
  color: #575757;
}
.searcheng_col2.mgtop0{
margin-top: 0;
}
.searcheng_col.panel-heading.wdth100.bdr_btom0{
border-bottom: none;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, p, ul {
    margin: 0;
    padding: 0;
}

h1,h4,p{font-weight: 700;}

.wdth100{
    width: 100%;
    float: left;
}

section,header,footer{
    width: 100%;
    float: left;
    padding: 15px 0;
}

a:hover,a:focus{text-decoration: none;}

.page_wrapper{
    width: 100%;
    float: left;
    position: relative;
}

.padd15{padding: 0 15px !important;}

.container.cstm_container{
    max-width: 767px;
    width: 100%;
    padding: 0px;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

.login_url{
    padding: 0 15px;
    margin: 10px 0;
}

.login_url label{
    font-weight: 600;
    font-size: 13px;
    color: #717171;
}

.input_wrappr{position: relative;}

.plugin{
    position: absolute;
    right: 0;
    top: 0;
    background: #f7f7f7;
    max-width: 110px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.plugin>img{
    width: 30px;
}
span.dsp_flexx {
    display: flex;
}
.news_img{
    display: inline-block;
    margin:0 auto;
}
.news_link.dash{
width: 100%;
    float: left;
    margin-bottom: 9px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
}
.wrapp_row{
  width: 100%;
  float: left;
  display: flex;
  justify-content: flex-start;

}
span.row_icn {
    width: 5%;
    position: relative;
}
.row_icn i {
    position: absolute;
    top: 30px;
    right: 12px;
    font-size: 21px;
}
.news_img a img{
  width: 500px;
}
a.mg10 {
    margin: 0 15px;
}
.login_url .form-control {
    cursor: not-allowed;
    background-color: #eeeeee;
    box-shadow: 0px 0px 0px;
    border-color: #d8dde5;
}

.post_media{text-align: center;}

.text_wrapper{
    text-align: left;
    margin: 30px 0 0 0;
    padding: 0 15px 15px 15px;
    border-bottom: 1px solid #eaedef;
}

.news_title a{
    font-size: 30px;
    color: #717171;
}

.text_wrapper p{
    font-size: 13px;
    color: #717171;
    margin: 10px 0;
}

.news_link{
     border-bottom: 1px dashed #575757;
    color: #7d7d7d;
}
.right_sidebar {
    width: 86%;
    float: right;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

