// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wdth100{
	width:100%;
	float: left;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 180px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #555;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 185px;
  padding: 25px 16px;
  /*height: 1000px;*/
}

.wdth100{
  width: 100%;
  float: left;
}

.cntnt_wrap{
  position: relative;
  padding-top: 55px;
}

.cstm_navbar{
  background-color: #ececec;
}

.mglft_25{
  margin-left: 25px;
}



.searcheng .arrow.left {
  top: 20px;
  left: -8px;
}

.arrow.left {
    top: 50%;
    left: -8px;
    margin-top: -8px;
    border-left-width: 0;
    border-right-color: #eee;
    border-right-color: rgba(0,0,0,0.1);
}

.arrow {
  border-width: 8px;
  z-index: 10;
}

.arrow.left:after {
  content: " ";
  left: 1px;
  border-left-width: 0;
  border-right-color: #ccc;
  bottom: -7px;
}

.arrow:after {
  border-width: 7px;
  content: "";
}

.arrow, .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.searcheng{
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.searcheng_row{
  margin-left: 46px;
  position: relative;
}

.searcheng:before{
  position: absolute;
  top: 0;
  bottom: -40px;
  left: 18px;
  width: 1px;
  background: #e0e4e8;
  content: '';
}

.searcheng_col{
  border: 1px solid #ccc;
  background-color: #ececec;
  border-radius: 2px 2px 0 0;
  position: relative;
  font-size: 12px;
  padding: 12px;
}

.searcheng_col>a{
  color: #575757;
}

.searcheng_col2{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.img_box{
  width: 111px;
  float: left;
}

.img_box>img{
  max-width: 100%;
  max-height: 100%;
}

.searc_col_rt{
  width: calc(100% - 111px);
  float: left;
  background: #f3f5f9;
  position: relative;
    padding:  8px 15px;
}

.post_likes{
  position: absolute;
  right: 15px;
  bottom: 5px;
  margin:0;
  padding: 0px;
}


.post_likes li{
  list-style: none;
  display: inline-block;
  margin: 0 8px;
}

.post_likes li a{
  color: #575757;
  font-size: 14px;
}

.favicon_img{
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

